<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Account form</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="../static/css/materialize.min.css" th:href="@{/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav>
    <div class="nav-wrapper container">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="meeting/list" class="white-text">Meetings</a></li>
        <li><a href="issue/list" class="white-text">Issues</a></li>
        <li><a href="task/list" class="white-text">Tasks <span class="new badge">4</span></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <div class="input-field">
            <input id="search" type="search" required="required"/>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </li>
        <li><a href="" class="white-text"><i class="material-icons">refresh</i></a></li>
        <li><a href="/user/account" class="white-text"><i class="material-icons left">perm_identity</i>Account</a></li>
      </ul>
    </div>
  </nav>
  <form class="col s12" action="" method="POST">
    <div class="container">
      <div class="section">
        <h4>Your Account form</h4>
        <div class="row">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="first_name" type="text" class="validate"/>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate"/>
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">contacts</i>
              <input id="login" type="text" class="validate"/>
              <label for="login">Login</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate"/>
              <label for="email">Email</label>
            </div>
          </div>
          <h5>Change password</h5>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input id="oldPassword" type="password" class="validate"/>
              <label for="oldPassword">Old password</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="newPassword" type="password" class="validate"/>
              <label for="newPassword">New password</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="newRepeatPassword" type="password" class="validate"/>
              <label for="newRepeatPassword">Repeat new password</label>
            </div>
          </div>
          <div class="row right">
            <a href="#saveButton" id="add-meeting-button" class="btn-large waves-effect waves-light teal lighten-1">
              Save
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of Java developers working on this project for approving our skills and create application for Scrum Poker.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Authors</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/maksym-korkuts-4511a564" target="_blank">Maxim Korkuts</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/maxabrosimov" target="_blank">Maxim Abrosimov</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/libs/materialize.js" th:src="@{/js/libs/materialize.js}"></script>
  <script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

  </body>
</html>
