<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Scrum Poker Online</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="../static/css/materialize.min.css" th:href="@{/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="../static/images/ScrumPokerLogo.png" th:src="@{/images/ScrumPokerLogo.png}" alt="Scrum Poker Online logo" class="scrum-poker-logo"/></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br/><br/>
        <h1 class="header center teal-text text-lighten-2">Scrum Poker Online</h1>
        <div class="row center">
          <h5 class="header col s12 light">Scrum Poker Online is the best way for teams to estimate Agile projects.</h5>
        </div>
        <div class="row center">
          <a href="#modal1" id="login-button" class="btn-large waves-effect waves-light teal lighten-1 modal-trigger">Login</a>
        </div>
        <div class="row center">
          <a href="#modal2" id="reg-button" class="btn-large waves-effect waves-light teal lighten-1 modal-trigger">Registration</a>
        </div>
        <br/><br/>

      </div>
    </div>
    <div class="parallax"><img src="../static/images/people-meeting.jpg" th:src="@{/images/people-meeting.jpg}" alt="Scrum Poker Online img"/></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up estimating</h5>

            <p class="light">Fast working project with ability to have your personal account and history of your working. Fast email sending for other people of your team.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Simple to play</h5>

            <p class="light">We give user friendly interface for estimating tasks or issue. Ability to choose all types of Scrum Poker card and ability to create your own cards deck.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Scrum poker Online.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="footer-grid teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of Java developers working on this project for approving our skills and create application for Scrum Poker.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Authors</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/maksym-korkuts-4511a564" target="_blank">Maxim Korkuts</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/maxabrosimov" target="_blank">Maxim Abrosimov</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container teal-text">
        Made by Cool Java Developers
      </div>
    </div>
  </footer>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Login</h4>
      <div class="row">
        <form class="col s12" action="scrumpoker/login/process-login" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input id="login" type="text" class="validate"/>
              <label for="login">Login</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate"/>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Finish login</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Registration form</h4>
      <div class="row">
        <form class="col s12" action="scrumpoker/user/registration-enter" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="first_name" type="text" class="validate"/>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate"/>
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">contacts</i>
              <input id="login" type="text" class="validate"/>
              <label for="login">Login</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input id="password" type="password" class="validate"/>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate"/>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Finish registration</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/libs/materialize.js" th:src="@{/js/libs/materialize.js}"></script>
  <script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

  </body>
</html>
