<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Main menu</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="../static/css/materialize.min.css" th:href="@{/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav>
        <div class="nav-wrapper container">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="" class="white-text">Issues</a></li>
                <li><a href="" class="white-text">Tasks <span class="new badge">4</span></a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="" class="white-text"><i class="material-icons">search</i></a></li>
                <li><a href="" class="white-text"><i class="material-icons">refresh</i></a></li>
                <li><a href="" class="white-text"><i class="material-icons left">perm_identity</i>Account</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="section">
            <div class="row left">
                <h5>Meetings</h5>
            </div>
            <div class="row right">
                <a href="#modal3" id="add-meeting-button" class="btn-large waves-effect waves-light teal lighten-1 modal-trigger">
                    <i class="material-icons left">play_arrow</i>Create meeting
                </a>
            </div>
            <!-- TODO change table creating and add pagenator-->
            <table id="meeting-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Creator</th>
                    <th>Last used</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td>test</td>
                    <td>In progress</td>
                    <td>test-user</td>
                    <td>03/04/1993</td>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td>test again</td>
                    <td>Finished</td>
                    <td>test-user</td>
                    <td>03/04/1993</td>
                </tr>
                <tr>
                    <td>test and again</td>
                    <td>Closed</td>
                    <td>test-user</td>
                    <td>03/04/1993</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of Java developers working on this project for approving our skills and create application for Scrum Poker.</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Authors</h5>
                    <ul>
                        <li><a class="white-text" href="https://www.linkedin.com/in/maksym-korkuts-4511a564" target="_blank">Maxim Korkuts</a></li>
                        <li><a class="white-text" href="https://www.linkedin.com/in/maxabrosimov" target="_blank">Maxim Abrosimov</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Modal Structure -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <h4>Create meeting</h4>
            <div class="row">
                <form class="col s12" action="" method="POST">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="login" type="text" class="validate"/>
                            <label for="login">Title</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <select class="browser-default">
                                <option value="" disabled="disabled" selected="selected">Choose your card brand</option>
                                <option value="1">Scrum</option>
                                <option value="2">Fibonacci</option>
                                <option value="3">Playing cards</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="switch">
                            <h6>Do you want to save actions history?</h6>
                            <label>
                                off
                                <input type="checkbox"/>
                                <span class="lever"></span>
                                on
                            </label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Create</a>
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/libs/materialize.js" th:src="@{/js/libs/materialize.js}"></script>
    <script src="../static/js/init.js" th:src="@{/js/init.js}"></script>
</body>
</html>